server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:~/data/testdb/test
    username: admin
    password: admin
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    consumer:
      bootstrap-servers: 59.29.224.136:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      group-id: file-events-listener-group
      auto-offset-reset: latest
      enable-auto-commit: false