.wrap {
    background-color: #f8f9fa;
    font-family: sans-serif;
}

.hero-wrap-detail {
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./images/bg_1.jpg);
    position: relative;
    background-attachment: local
}

@media (max-width: 991.98px) {
    .hero-wrap-detail {
        height: 300px;
    }
    /* .slider-text {
      height: 100px;
    } */
}

.hero-wrap-detail .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: #000000;
    background: #207dff;
    background: -moz-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #207dff), color-stop(100%, #a16ae8));
    background: -webkit-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -o-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -ms-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#207dff), to(#a16ae8));
    background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207dff', endColorstr='#a16ae8', GradientType=1);
}

.hero-wrap-detail .slider-text {
    height: 400px;
    z-index: 0;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .hero-wrap-detail {
        text-align: center;
        height: 400px;
    }
    .slider-text {
        text-align: center;
        margin-top: -20px;
        height: 200px;
    }
}

.hero-wrap-detail .slider-text .subheading {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block;
    color: #000000;
}

.hero-wrap-detail .slider-text .text {
    position: relative;
    z-index: 1;
}

.hero-wrap-detail .slider-text h1 {
    font-size: 54px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    width: 900px;
}

.hero-wrap-detail .slider-text h1 span {
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .hero-wrap-detail .slider-text h1 {
        font-size: 50px;
        width: 575px;
    }
}

@media (max-width: 767.98px) {
    .hero-wrap-detail .slider-text h1 {
        font-size: 20px;
    }
}

.hero-wrap-detail .slider-text p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

.hero-wrap-detail .slider-text p .number {
    color: #fdab44;
}

.hero-wrap-detail .slider-text .btn-custom {
    color: #fff;
    background: #206dfb;
    padding: 10px 20px;
}

.hero-wrap-detail .hero-wrap-detail -2 {
    height: 400px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (max-width: 1199.98px) {
    .hero-wrap-detail .hero-wrap-detail -2 {
        background-position: top center !important;
    }
}

.hero-wrap-detail .hero-wrap-2 .slider-text {
    height: 400px !important;
}

@media (max-width: 991.98px) {
    .hero-wrap.hero-wrap-2 .slider-text {
        text-align: center;
        height: 200px !important;
    }
}

.ftco-counter {
    padding: 8em 0;
}

@media (max-width: 1199.98px) {
    .ftco-counter {
        background-position: center center !important;
    }
}

.ftco-counter .icon {
    margin-bottom: 10px;
}

.ftco-counter .icon span {
    line-height: 1;
    font-size: 40px;
    color: #fff;
}

.ftco-counter .text strong.number {
    font-weight: 600;
    font-size: 34px;
    color: #fff;
    line-height: 1;
}

.ftco-counter .text span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
        margin-bottom: 20px;
    }
}

.ftco-section-parallax {
    position: relative;
}

.ftco-section-parallax .parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 4em 0;
    background: #f8f9fa;
}

.ftco-section-parallax .heading-section-white h2 {
    font-weight: 400 !important;
}

.ftco-section {
    padding: 6em 0;
    position: relative;
}

@media (max-width: 767.98px) {
    .ftco-section {
        padding: 6em 0;
    }
}

.flaticon-resume {
    width: 60px;
    height: 61px;
}

/* list */

.job-post-item {
    z-index: 0;
    background: #fff;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.job-post-item h2 {
    font-size: 28px;
}

.job-post-item h2 a {
    color: #000000;
}

.job-post-item .one-third {
    width: calc(100%);
}

@media (max-width: 991.98px) {
    .job-post-item .one-third {
        width: 100%;
    }
}

.job-post-item .one-third .subadge {
    color: rgba(0, 0, 0, 0.3);
    color: #206dfb;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.job-post-item .one-forth {
    width: 145px;
}

@media (max-width: 991.98px) {
    .job-post-item .one-forth {
        width: 100%;
    }
}

.job-post-item .one-forth>div .icon {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.job-post-item .icon {
    border: none !important;
    background: #ffefdb !important;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (min-width: 992px) {
    .job-post-item .icon {
        opacity: 0;
    }
}

.job-post-item .icon span {
    color: #fdab44;
}

.job-post-item .job-post-item-body span, .job-post-item .job-post-item-body a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.job-post-item:hover, .job-post-item:focus {
    -webkit-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
    border: none;
}

.job-post-item:hover .icon, .job-post-item:focus .icon {
    background: #fdab44 !important;
    opacity: 1;
}

.job-post-item:hover .icon span, .job-post-item:focus .icon span {
    color: #fff;
}
.job-post-item-header{
    width: 600px;
}
.job-post-item-body-detail{
    margin-top: 20px;
    font-size: 4mm;
    color: rgba(0, 0, 0, 0.7)
}

/* footer */

.ftco-footer {
    font-size: 16px;
    background: #fff;
    padding: 3em 0;
    color: rgba(0, 0, 0, 0.5);
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}

.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(0, 0, 0, 0.4);
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: rgba(0, 0, 0, 0.5);
}

.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}

.ftco-footer p {
    color: rgba(0, 0, 0, 0.5);
}

.ftco-footer a {
    color: rgba(0, 0, 0, 0.5);
}

.ftco-footer a:hover {
    color: #206dfb;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative;
    color: #206dfb;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #206dfb !important;
}

.ftco-footer-social li a:hover {
    color: #fff;
}

.footer-small-nav>li {
    display: inline-block;
}

.footer-small-nav>li a {
    margin: 0 10px 10px 0;
}

.footer-small-nav>li a:hover, .footer-small-nav>li a:focus {
    color: #206dfb;
}

.ftco-media {
    background: #fff;
    border-radius: 0px;
}

.ftco-media .heading {
    font-weight: normal;
}

.ftco-media.ftco-media-shadow {
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    position: relative;
    top: 0;
}

.ftco-media.ftco-media-shadow:hover, .ftco-media.ftco-media-shadow:focus {
    top: -3px;
    -webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
}

.ftco-overflow-hidden {
    overflow: hidden;
}

.padding-top-bottom {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Search-bar */
.subscribe-form .form-group {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .subscribe-form .form-group input {
      background: white !important;
      border: 1px solid transparent;
      color: rgba(0, 0, 0, 0.7) !important;
      font-size: 20px;
      border-radius: 5px 0px 0px 5px; }
      .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.7) !important; }
      .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.7) !important; }
      .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.7) !important; }
      .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.7) !important; }
    .subscribe-form .form-group .submit {
      color: #fff !important;
      background: #fdab44 !important;
      border-radius: 0px 5px 5px 0px;
      font-size: 16px; }
      .subscribe-form .form-group .submit:hover {
        cursor: pointer; }
  .job-post-item-body .mr-3{
      width: 700px;
      text-overflow: ellipsis; 
      white-space: nowrap;
      overflow: hidden;
  }
  .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8); }